<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.spinach.account.dao.AccountDao">
	<resultMap id="AccountMap" type="com.yang.spinach.account.entity.Account">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="nick_name" property="nickName" />
		<result column="password" property="password" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="user_type" property="userType" />
		<result column="login_time" property="loginTime" />
		<result column="disabled" property="disabled" />
	</resultMap>

	<!--保存 -->
	<insert id="saveAccount" parameterType="com.yang.spinach.account.entity.Account"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_account
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null">
				username,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="userType != null">
				user_type,
			</if>
			<if test="loginTime != null">
				login_time,
			</if>
			<if test="disabled != null">
				disabled,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="username != null">
				#{username},
			</if>
			<if test="nickName != null">
				#{nickName},
			</if>
			<if test="password != null">
				#{password},
			</if>
			<if test="mobile != null">
				#{mobile},
			</if>
			<if test="email != null">
				#{email},
			</if>
			<if test="userType != null">
				#{userType},
			</if>
			<if test="loginTime != null">
				#{loginTime},
			</if>
			<if test="disabled != null">
				#{disabled},
			</if>
		</trim>
	</insert>

	<!--修改 -->
	<update id="updateAccountById" parameterType="com.yang.spinach.account.entity.Account">
		update t_account
		<set>
			<if test="username != null">
				username=#{ username },
			</if>
			<if test="nickName != null">
				nick_name=#{ nickName },
			</if>
			<if test="password != null">
				password=#{ password },
			</if>
			<if test="mobile != null">
				mobile=#{ mobile },
			</if>
			<if test="email != null">
				email=#{ email },
			</if>
			<if test="userType != null">
				user_type=#{ userType },
			</if>
			<if test="loginTime != null">
				login_time=#{ loginTime },
			</if>
			<if test="disabled != null">
				disabled=#{ disabled },
			</if>
		</set>
		where
		id=#{ id }
	</update>

	<!--查询 -->
	<select id="selectAccountById" resultMap="AccountMap"
		parameterType="java.lang.Long">
		select *
		from t_account
		where
		id=#{ id }
	</select>

	<select id="selectByUsername" resultMap="AccountMap">
		select *
		from t_account
		where 1=1 and username=#{username}
		and
		user_type=#{userType}
	</select>
	<select id="listPage" resultMap="AccountMap"
		parameterType="com.yang.spinach.account.entity.Account">
		select * from t_account where 1=1
		<if test="user.username != null">
			and username=#{ user.username },
		</if>
		<if test="user.nickName != null">
			and nick_name=#{ user.nickName },
		</if>
		<if test="user.mobile != null">
			and mobile=#{ user.mobile },
		</if>
		<if test="user.email != null">
			and email=#{ user.email },
		</if>
		<if test="user.userType != null">
			and user_type=#{ user.userType },
		</if>
		<if test="user.loginTime != null">
			and login_time=#{ user.loginTime },
		</if>
		<if test="user.disabled != null">
			and disabled=#{ user.disabled },
		</if>
	</select>
	
	<select id="findPermissions" resultType="java.lang.String">
	select DISTINCT s.permission from t_account a ,t_account_role r,t_role_resources rs,t_resources s
where a.id=r.user_id and r.role_id=rs.role_id and rs.resources_id=s.id
and a.username=#{username} and a.user_type=#{userType}
	</select>
</mapper> 