<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.spinach.account.dao.AccountDao">
	<resultMap id="AccountMap" type="com.yang.spinach.account.entity.Account">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="nick_name" property="nickName"/>
		<result column="password" property="password"/>
		<result column="mobile" property="mobile"/>
		<result column="email" property="email"/>
		<result column="user_type" property="userType"/>
		<result column="login_time" property="loginTime"/>
		<result column="disabled" property="disabled"/>
	</resultMap>

	<!--保存 -->
	<insert id="saveAccount" parameterType="com.yang.spinach.account.entity.Account" 	useGeneratedKeys="true" 
		keyProperty="id" >
		insert into t_account 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="userType != null">
				user_type,
			</if>
			<if test="loginTime != null">
				login_time,
			</if>
			<if test="disabled != null">
				disabled,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="username != null">
				#{username},
			</if>
			<if test="nickName != null">
				#{nickName},
			</if>
			<if test="password != null">
				#{password},
			</if>
			<if test="mobile != null">
				#{mobile},
			</if>
			<if test="email != null">
				#{email},
			</if>
			<if test="userType != null">
				#{userType},
			</if>
			<if test="loginTime != null">
				#{loginTime},
			</if>
			<if test="disabled != null">
				#{disabled},
			</if>
		</trim>
	</insert>
	
	<!--修改-->
	<update id="updateAccountById" parameterType="com.yang.spinach.account.entity.Account">
		update t_account 
		<set>
			<if test="id != null">
				id=#{ id },
			</if>
			<if test="username != null">
				username=#{ username },
			</if>
			<if test="nickName != null">
				nick_name=#{ nickName },
			</if>
			<if test="password != null">
				password=#{ password },
			</if>
			<if test="mobile != null">
				mobile=#{ mobile },
			</if>
			<if test="email != null">
				email=#{ email },
			</if>
			<if test="userType != null">
				user_type=#{ userType },
			</if>
			<if test="loginTime != null">
				login_time=#{ loginTime },
			</if>
			<if test="disabled != null">
				disabled=#{ disabled },
			</if>
		</set>
		where 
		id=#{ id }
	</update>
	
	<!--查询-->
	<select id="selectAccountById" resultMap="AccountMap" parameterType="java.lang.Long">
		select *
		from t_account 
		where
		id=#{ id }
	</select>

	<select id="selectByUsername" resultMap="AccountMap">
		select *
		from t_account where 1=1 and username=#{username}
		and
		user_type=#{userType}
	</select>
</mapper>