<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.spinach.dict.dao.DictDao">
	<resultMap id="DictMap" type="com.yang.spinach.dict.entity.Dict">
		<id column="id" property="id" />
		<result column="label" property="label" />
		<result column="value" property="value" />
		<result column="target_column" property="targetColumn" />
		<result column="descrption" property="descrption" />
		<result column="sort" property="sort" />
		<result column="remark" property="remark" />
		<result column="disabled" property="disabled" />
	</resultMap>

	<!--保存 -->
	<insert id="saveDict" parameterType="com.yang.spinach.dict.entity.Dict"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="label != null">
				label,
			</if>
			<if test="value != null">
				value,
			</if>
			<if test="targetColumn != null">
				target_column,
			</if>
			<if test="descrption != null">
				descrption,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="disabled != null">
				disabled,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="label != null">
				#{label},
			</if>
			<if test="value != null">
				#{value},
			</if>
			<if test="targetColumn != null">
				#{targetColumn},
			</if>
			<if test="descrption != null">
				#{descrption},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="disabled != null">
				#{disabled},
			</if>
		</trim>
	</insert>

	<!--修改 -->
	<update id="updateDictById" parameterType="com.yang.spinach.dict.entity.Dict">
		update t_dict
		<set>
			<if test="id != null">
				id=#{ id },
			</if>
			<if test="label != null">
				label=#{ label },
			</if>
			<if test="value != null">
				value=#{ value },
			</if>
			<if test="targetColumn != null">
				target_column=#{ targetColumn },
			</if>
			<if test="descrption != null">
				descrption=#{ descrption },
			</if>
			<if test="sort != null">
				sort=#{ sort },
			</if>
			<if test="remark != null">
				remark=#{ remark },
			</if>
			<if test="disabled != null">
				disabled=#{ disabled },
			</if>
		</set>
		where
		id=#{ id }
	</update>

	<!--查询 -->
	<select id="selectDictById" resultMap="DictMap" parameterType="java.lang.Long">
		select *
		from t_dict
		where
		id=#{ id }
	</select>

	<select id="selectByColumn" resultMap="DictMap" parameterType="java.lang.String">
		select * from t_dict where target_column=#{column} and disabled =0
	</select>
	<select id="listPage" resultMap="DictMap"
		parameterType="com.yang.spinach.dict.entity.Dict">
		select * from t_dict where 1=1
		<if test="dict.label != null and dict.label !=''">
				and label=#{ dict.label }
			</if>
			<if test="dict.value != null">
				and value=#{ dict.value }
			</if>
			<if test="dict.targetColumn != null and dict.targetColumn !=''">
				and target_column=#{ dict.targetColumn }
			</if>
			<if test="dict.descrption != null and dict.descrption!=''">
				and descrption=#{ dict.descrption }
			</if>
			<if test="dict.sort != null ">
				and sort=#{ dict.sort }
			</if>
			<if test="dict.remark != null and dict.remark !=''">
				and remark=#{ dict.remark }
			</if>
			<if test="dict.disabled != null">
				and disabled=#{ dict.disabled }
			</if>
		
		</select>
</mapper>